<h1> **ALERT** <%= @case.title %> update:</h1>
<p>Case editor <%= User.find(@case.versions.last.whodunnit).name %> has updated the <%= link_to @case.title, @case %> case on EBWiki today. To describe the update, <%= User.find(@case.versions.last.whodunnit).name %> says: "<%= @case.versions.last.comment%>".
<p>
<p> Please feel free to add any data you have on this or <%= link_to 'other cases', 'http://ebwiki.org' %>.</p>
